.env
*.env
.env.local
.env.*.local

.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

__pycache__/
*.py[cod]
*$py.class
*.so

.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.py,cover

*.log
*.sqlite
*.db

.vscode/
.idea/
*.swp
*.swo